/* VAR INICIO*/
/* TAMAÑO FUENTES*/
$t1-size: 50px;
$t2-size: 35px;
$t3-size:25px;
$p-xs: 17px;
/* COLORES */
$letra: rgb(255, 255, 255);
$color-titles: rgb(143, 204, 191);
$button-bk: rgb(75, 75, 75);
$border-button: white;
$subtitle-color: rgb(115, 170, 176);
$card-p-color: white;
$card-itle-color:rgb(255, 255, 255);
$bk-general: rgb(41, 41, 41);
$hover-color: rgb(70, 218, 220);
/* FUENTES*/
$font1: 'Anton',
sans-serif,
'Fjalla One',
sans-serif,
'Russo One',
sans-serif;
/*VAR FINALIZA*/